.presentationct {
    background-color: #000;
}

.presentation-title {
    font-size: 30px;
    letter-spacing: 0;
    line-height: 32px;
    margin: 0 0 39px;
    padding: 0 0 11px;
    position: relative;
    text-transform: uppercase;
    color: #000;
}
.presentation-title::after {
    background: #ffc300 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 54px;
}

.presentation-pdf {
    background: #ffc300 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    margin: 0 0 0 10px;
    text-align: center;
    width: 40px;
}

.def{
    margin: 0;
    padding: 0;
  }
  
.top-bar {
  background: #333;
  color: #fff;
  padding: 1rem;
}

.btn {
  background: rgb(66, 148, 74);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.downloadbtn {
  background: rgb(208, 46, 38);
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.7rem 2rem;
}

.downloadbtn:hover {
  opacity: 0.9;
}

.btn:hover {
  opacity: 0.9;
}

.page-info {
  margin-left: 1rem;
}

.error {
  background: orangered;
  color: #fff;
  padding: 1rem;
}
