<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>678938752463-7lne0g7veudgefkeuh2bjteh9rinti9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.678938752463-7lne0g7veudgefkeuh2bjteh9rinti9p</string>
	<key>API_KEY</key>
	<string>AIzaSyDKsw0SIeChZt3q7G-CCTJJYxck4YsduMM</string>
	<key>GCM_SENDER_ID</key>
	<string>678938752463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.osgb.osgb</string>
	<key>PROJECT_ID</key>
	<string>osgb-b8e4e</string>
	<key>STORAGE_BUCKET</key>
	<string>osgb-b8e4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678938752463:ios:934e3e521db11189040eba</string>
</dict>
</plist>