<link rel="stylesheet" href="/css/cookie_bar.css">

<section id="cookies_bar" class="card cookie bottom-bar">
    <div>
        <div class="row center-vertical p-2">
            <div class="col-12 col-md-7 cookie-policy-consent py-1">
                <span>
                    {{{cookie_policy_consent}}}
                    <span class="text-nowrap">
                        <a id="reject_cookies" href="/{{lang}}/cookie-policy">{{cookie_policy}}</a>
                    </span>
                </span>
            </div>

            <div class="col-12 col-md-5 text-center py-1">
                <a id="accept_cookies" class="btn accept">{{accept_all}}</a>
            </div>
        </div>
    </div>
</section>